.error-container {
  width: 100%;
  max-width: 300px;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%);

  img {
    width: 140px;
    margin-bottom: 15px;
    animation: spin 10s infinite;
    -webkit-animation: spin 10s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  p {
    font-size: 20px;
    margin: 0;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
