mat-table {
  width: 100%;

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding: 0 24px !important;
  }

  @media screen and (max-width: 600px) {
    mat-cell,
    mat-header-cell,
    mat-footer-cell {
      button {
        background: #673ab7;
        color: white;
      }
    }

    .mat-column-item p {
      margin: 7px;
      color: gray;

      &:first-child {
        font-weight: bold;
        color: black;
      }
    }
  }

  mat-cell {
    button {
      margin: 15px 0;
    }
  }
}

button[mat-fab] {
  float: right;
  margin: 30px 20px;
}
